<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Trip</title>
</head>
<body>
<p th:text="'Trip Start: ' + ${tripStart}">trip start</p>
<p th:text="'Trip End: ' + ${tripEnd}">trip End</p>

<iframe width="600" height="450" frameborder="0" style="border:0"
        th:src="@{'https://www.google.com/maps/embed/v1/directions?origin=' + ${tripStart} + '&destination=' + ${tripEnd} + '&key=' + ${googleMapsKey} + '&avoid=tolls|highways'}"
        allowfullscreen></iframe>

<h3>Bars</h3>
<div th:each="BusinessInformation : ${barBusinesses}">
    <p th:text="${BusinessInformation.getName()}"></p>
    <a th:href="${BusinessInformation.getUrl()}">Yelp Page</a>
</div>
<h3>Restaurants</h3>
<div th:each="BusinessInformation : ${restaurantBusinesses}">
    <p th:text="${BusinessInformation.getName()}"></p>
    <a th:href="${BusinessInformation.getUrl()}">Yelp Page</a>
</div>
<h3>Hotels</h3>
<div th:each="BusinessInformation : ${hotelBusinesses}">
    <p th:text="${BusinessInformation.getName()}"></p>
    <a th:href="${BusinessInformation.getUrl()}">Yelp Page</a>
</div>
<h3>Entertainment</h3>
<div th:each="BusinessInformation : ${entertainmentBusinesses}">
    <p th:text="${BusinessInformation.getName()}"></p>
    <a th:href="${BusinessInformation.getUrl()}">Yelp Page</a>
</div>


<ol th:each="step : ${tripSteps}">
    <li th:text="'START: Latitude: ' + ${step.getStartLocation().getLatitude()} + ' Longitude: ' + ${step.getStartLocation().getLongitude()}  "></li>
    <li th:text="'END: Latitude: ' + ${step.getEndLocation().getLatitude()} + ' Longitude: ' + ${step.getEndLocation().getLongitude()}  "></li>

</ol>

</body>
</html>