<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Trip</title>
</head>
<body>
<p th:text="'Trip Start: ' + ${tripStart}">trip start</p>
<p th:text="'Trip End: ' + ${tripEnd}">trip End</p>

<iframe width="600" height="450" frameborder="0" style="border:0"
        th:src="@{'https://www.google.com/maps/embed/v1/directions?origin=' + ${tripStart} + '&destination='
        + ${tripEnd} + '&key=' + ${googleMapsKey} + '&avoid=tolls|highways'}"
        allowfullscreen></iframe>


<div th:each="cityPlaces : ${tripCityPlaces}">
    <h1 th:text="${cityPlaces.getCityName()}"></h1>
    <h3>Bars</h3>
    <ul th:each="bar : ${cityPlaces.getBars().getBusinesses()}">
        <li th:text="${bar.getName()}"></li>
    </ul>
    <h3>Restaurants</h3>
    <ul th:each="restaurant : ${cityPlaces.getRestaurants().getBusinesses()}">
        <li th:text="${restaurant.getName()}"></li>
    </ul>
    <h3>Hotels</h3>
    <ul th:each="hotel : ${cityPlaces.getHotels().getBusinesses()}">
        <li th:text="${hotel.getName()}"></li>
    </ul>
    <h3>Entertainment</h3>
    <ul th:each="entertainment : ${cityPlaces.getEntertainment().getBusinesses()}">
        <li th:text="${entertainment.getName()}"></li>
    </ul>
</div>

</body>
</html>